@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}
p,
span {
  font-size: 15px;
}
h1,
h2 {
  font-family: "Kanit", sans-serif;
}
button {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.4s ease;
  cursor: pointer;
}
button.black:hover {
  opacity: 0.8;
}

button.trans:hover {
  background: black;
  color: white;
}
img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
body {
  width: 100vw;
  height: 100%;
  min-height: fit-content;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 10px;
  left: inherit;
  background: rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s ease;
}
nav .menu_btn {
  padding: 15px;
  font-size: 25px;
}

nav .menu_btn .bx:first-child {
  display: block;
}

nav .menu_btn .bx:last-child {
  display: none;
}

nav .menu_btn.active .bx:first-child {
  display: none;
}

nav .menu_btn.active .bx:last-child {
  display: block;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: 0.4s ease;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.3;
}
nav .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  width: 50%;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  visibility: hidden;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  z-index: 1000;
  transition: 0.4s ease;
}

nav .links.active {
  transform: translate(-50%, -50%);
  visibility: visible;
}

nav .links a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  padding: 40px;
  transition: 0.4s ease;
}

nav .links a .bx {
  font-size: 40px;
}

nav .links a:hover {
  color: white;
  background: black;
}

#home {
  height: fit-content;
  width: 100%;
}

.home_container {
  display: flex;
  align-items: center;
  height: 500px;
  margin-top: 60px;
}

.home_container .txt {
  width: 50%;
  padding-right: 50px;
}

.home_container .txt span {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.124);
  border-radius: 5px;
  text-transform: uppercase;
}

.home_container .txt h1 {
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 20px;
  line-height: 30px;
}

.home_container .txt h5 {
  font-size: 18px;
  text-transform: capitalize;
}

.home_container .txt p {
  padding: 20px 0;
}

.home_container .txt .txt_btn {
  display: flex;
  gap: 20px;
}

.home_container .txt .txt_btn button {
  border: 2px solid transparent;
}

.home_container .txt .txt_btn button:nth-child(1) {
  background: black;
  color: white;
}

.home_container .txt .txt_btn button:nth-child(2) {
  border-color: black;
}

.home_container .img_con {
  width: 50%;
  /* height: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: blue; */
}

.home_container .img_con .img {
  width: 300px;
  height: 450px;
  border-radius: 20px 20px 20px 30%;
  object-position: center;
  overflow: hidden;
}

#about {
  width: 100%;
  height: fit-content;
}

.about_container {
  display: flex;
  margin-top: 60px;
  gap: 50px;
}

.about_container .img {
  width: 50%;
  position: relative;
  border-radius: 20px;
}

.about_container .img img {
  border-radius: 20px;
}

.about_container .img::after,
.about_container .img::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.19);
}
.about_container .img::after {
  right: -400px;
  bottom: 100px;
  z-index: -1;
}

.about_container .img::before {
  right: -200px;
  bottom: 70px;
  z-index: -1;
}

.about_container .txt {
  width: 50%;
  padding-right: 100px;
}

.about_container .txt span {
  text-transform: uppercase;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.124);
  border-radius: 5px;
}

.about_container .txt h2 {
  font-size: 30px;
  line-height: 30px;
  padding-top: 20px;
}

.about_container .txt p {
  padding: 20px 0;
}

.about_container .txt button {
  background: black;
  color: white;
}

#skills {
  width: 100%;
  height: 100%;
  height: fit-content;
}

.skill_container {
  padding-top: 100px;
}

.skill_container .span {
  width: 100%;
  text-align: center;
}

.skill_container span {
  padding: 10px 15px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.124);
  border-radius: 5px;
}

.skill_container h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.skill_container .title {
  text-align: center;
}

.skill_container .wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.skill_container .wrapper .box {
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  cursor: pointer;
}

.skill_container .wrapper .box .bx {
  font-size: 35px;
}

.skill_container .wrapper .box h3 {
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 0;
}

#contact {
  width: 100%;
  height: 100%;
  min-height: fit-content;
}

.contact_container {
  padding: 100px 0 50px 0;
}

.contact_container .span {
  width: 100%;
  text-align: center;
}

.contact_container .span span {
  padding: 10px 15px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.124);
  border-radius: 5px;
}

.contact_container h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  padding-top: 20px;
}

.contact_container .title {
  text-align: center;
}

.contact_container .wrapper {
  padding-top: 40px;
  display: flex;
}

.contact_container .wrapper .social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.contact_container .wrapper .social .box h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.contact_container .wrapper .social .box:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_container .wrapper .social .box:last-child > div {
  display: flex;
  gap: 10px;
}

.contact_container .wrapper .social .box:last-child span {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.124);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
}

.contact_container .wrapper .social .box:last-child span:hover {
  color: white;
  background: black;
}

.contact_container .wrapper form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_container .wrapper form input,
.contact_container .wrapper form textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.contact_container .wrapper form .box {
  position: relative;
  width: 100%;
}

.contact_container .wrapper form .box label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: grey;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  pointer-events: none;
  transition: 0.4s ease;
}

.contact_container .wrapper form .box input:focus ~ label,
.contact_container .wrapper form .box input:valid ~ label {
  transform: translate(0, -30px);
  color: black;
}

.contact_container .wrapper form .box textarea:focus ~ label,
.contact_container .wrapper form .box textarea:valid ~ label {
  transform: translate(0, -30px);
  color: black;
}

.contact_container .wrapper form button {
  color: white;
  background: black;
}

@media (max-width: 1024px) {
  .about_container .txt {
    padding-right: 0;
  }
}

@media (max-width: 702px) {
  nav .links {
    width: 70%;
  }
  .home_container {
    flex-direction: column-reverse;
    gap: 30px;
    height: fit-content;
    margin-top: 70px;
  }

  .home_container .txt {
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }

  .home_container .txt .txt_btn {
    align-items: center;
    justify-content: center;
  }
  .home_container .img_con {
    width: 100%;
  }

  .home_container .img_con .img {
    border-radius: 20px 20px 20px 20px;
  }

  .about_container {
    flex-direction: column;
    margin-top: 60px;
    gap: 50px;
  }

  .home_container .img_con .img {
    width: 300px;
    height: 350px;
  }

  .about_container .img {
    width: 100%;
  }

  .about_container .img::after,
  .about_container .img::before {
    display: none;
  }

  .about_container .txt {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .skill_container .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .contact_container .wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .contact_container .wrapper .social {
    width: 100%;
  }
  .contact_container .wrapper form {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .home_container .txt span {
    font-size: 15px;
  }
  .home_container .txt h1 {
    font-size: 25px;
  }
  .home_container .txt h5 {
    font-size: 15px;
  }

  .about_container .txt h2 {
    font-size: 25px;
  }

  .skill_container h2 {
    font-size: 25px;
  }
  .contact_container h2 {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  nav .links {
    width: 95%;
  }
  .container {
    width: 90%;
  }
  .skill_container .wrapper {
    grid-template-columns: 1fr;
  }
}
